body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0;
}
header {
  height: 450px;
  color: white;
  text-align: center;
  background: #333 url(../images/pexels-photo-248515.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
header h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  padding: 100px 0 50px;
}
header span {
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 0 15%;
}
#btn {
  margin-top: 40px;
}
header a {
  font-size: 20px;
  border: 1px solid rgb(255, 255, 255);
  background: #333;
  margin-top: 50px;
  padding: 18px 35px;
  text-decoration: none;
  color: white;
}
header a:hover {
  background: white;
  color: black;
  border-color: black;
}
main {
  text-align: center;
}
#sect-a {
  min-height: 190px;
  column-count: 2;
  column-gap: 3%;
  padding: 0 25% 40px;
  background: #eaeaea;
  opacity: 0.8;
}
#sect-a > h2 {
  column-span: all;
  font-size: 30px;
  padding: 25px 5px;
}
#sect-a > span {
  font-size: 20px;
}

#section-b {
  display: inline-block;
}
.card {
  display: block;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
