body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0;
}
header {
  height: 450px;
  color: white;
  text-align: center;
  background: url(../images/pexels-photo-248515.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
header h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  padding: 100px 0 50px;
}
header span {
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 0 15%;
}
#btn {
  margin-top: 40px;
}
header a {
  font-size: 20px;
  border: 1px solid rgb(255, 255, 255);
  background: #333;
  margin-top: 50px;
  padding: 18px 35px;
  text-decoration: none;
  color: white;
}
header a:hover {
  background: white;
  color: black;
  border-color: black;
}
main {
  text-align: center;
}
#sect-a {
  min-height: 190px;
  column-count: 2;
  column-gap: 3%;
  padding: 0 25% 40px;
  background: #eaeaea;
  opacity: 0.8;
}
#sect-a > h2 {
  column-span: all;
  font-size: 30px;
  padding: 25px 5px;
}
#sect-a > span {
  font-size: 20px;
}

#sect-b {
  min-height: 520px;
  background: #333;
  font-size: 20px;
  opacity: 0.9;
}
#card {
  display: inline-block;
  width: 270px;
  margin: 30px 1%;
  background: white;
}
#card img {
  height: 180px;
  width: 270px;
}
#card h3 {
  padding: 25px 0;
  opacity: 0.9;
}
#card span {
  display: block;
  text-align: center;
  padding: 0 10% 10%;
  opacity: 0.9;
}
#sect-с {
  min-height: 190px;
  padding: 0 20% 40px;
  background: #eaeaea;
  opacity: 0.8;
}
#sect-с > h2 {
  margin: 0;
  font-size: 30px;
  padding: 50px 5px;
}
#sect-с > span {
  font-size: 20px;
}
#sect-d {
  color: white;
}
#sect-d > div {
  box-sizing: border-box;
  display: inline-block;
  min-height: 315px;
  width: 50%;
  padding: 5% 5% 0;
}
#sect-d > div > h2 {
  margin: 0;
  font-size: 30px;
  padding-bottom: 10%;
}
#sect-d > div > span {
  font-size: 20px;
}
#sect-d > div > p {
  margin: 0;
  position: relative;
  top: 25px;
  font-size: 20px;
}
#contact {
  background: #2690d4;
}
#about {
  background: #333;
}
footer {
  min-height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
}
footer > div {
  box-sizing: border-box;
  padding-top: 35px;
  display: inline-block;
  width: 50%;
}
footer > div > a {
  text-decoration: none;
  color: #1c90d4;
}
